{% if gitless %}
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: webapp-dev
  namespace: {{ gitops_namespace }}
spec:
  interval: 5m
  url: {{ sample_webapp_dev_oci_url }}
  ref:
    tag: dev-latest
  certSecretRef:
    name: forgejo-ca-cert
---
{% endif %}
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: webapp-dev
  namespace: {{ gitops_namespace }}
spec:
  interval: 10m
  prune: true
{% if gitless %}
  path: ./
  sourceRef:
    kind: OCIRepository
    name: webapp-dev
{% else %}
  path: ./apps/sample-webapp/overlays/dev
  sourceRef:
    kind: GitRepository
    name: {{ gitops_namespace }}
{% endif %}
  targetNamespace: webapp-dev
