apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loko-root
  namespace: {{ gitops_namespace }}
spec:
  project: default
  source:
{% if gitless %}
    repoURL: {{ gitops_root_oci_url }}
    targetRevision: {{ env_name }}
    path: .
{% else %}
    repoURL: {{ repo_url }}
    targetRevision: HEAD
    path: {{ repo_layout.environment_dir }}
{% endif %}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ gitops_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
