apiVersion: v1
kind: Secret
metadata:
  name: forgejo-repo-secret
  namespace: {{ gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
{% if gitless %}
  type: oci
  url: {{ gitops_root_oci_url }}
  password: {{ access_token }}
  username: gitops
{% else %}
  url: {{ repo_url }}
  password: {{ access_token }}
  username: gitops
{% endif %}
