apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - {{ repo_layout.app_bindings_dirname }}/echo.yaml
{% if provider == "fluxcd" %}
  - {{ repo_layout.env_infra_dirname }}/receiver-gitops.yaml
{% if include_sample_webapp %}
  - {{ repo_layout.env_infra_dirname }}/receiver-pr-previews.yaml
{% endif %}
{% endif %}
{% if include_sample_webapp %}
  - {{ repo_layout.app_bindings_dirname }}/{{ repo_layout.sample_webapp_binding_dev }}
  - {{ repo_layout.app_bindings_dirname }}/{{ repo_layout.sample_webapp_binding_prod }}
  - {{ repo_layout.app_bindings_dirname }}/{{ repo_layout.sample_webapp_binding_pr_previews }}
{% endif %}
